{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Set Password</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>Reset Password</h4>
        <form class="form" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Old Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.old_password}}
                            </span>
                            {%if 'old_password' in errors%}
                                <div class='alert alert-warning'>{{errors.old_password}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.new_password}}
                            </span>
                            {%if 'new_password' in errors%}
                                <div class='alert alert-warning'>{{errors.new_password}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Confirm New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.new_password1}}
                            </span>
                            {%if 'new_password1' in errors%}
                                <div class='alert alert-warning'>{{errors.new_password1}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%if 'general_error' in errors%}
                    <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                <div>
                    <button class="btn btn-primary btn-lg btn-block signup-button" type="submit">
                        Reset Password
                    </button>
                </div>
          <div class="text-center">
            <span>
              Already Registered?
            </span>
             <a href='{% url "login" %}'>
              Login
            </a><br/>
            <span>
              Don’t have an account?
            </span>
              <a href='{% url "signup" %}'>
              Sign Up
            </a><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}