{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Signup</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>Signup Form</h4>
            <form class="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.first_name}}
                            </span>
                        </div>
                    </div>
                    {%if 'first_name' in errors%}
                        <div class='alert alert-warning'>{{errors.first_name}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.last_name}}
                            </span>
                        </div>
                    </div>
                    {%if 'last_name' in errors%}
                        <div class='alert alert-warning'>{{errors.last_name}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">User Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.username}}
                            </span>
                        </div>
                    </div>
                    {%if 'username' in errors%}
                        <div class='alert alert-warning'>{{errors.username}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.email}}
                            </span>
                        </div>
                    </div>
                    {%if 'email' in errors%}
                        <div class='alert alert-warning'>{{errors.email}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Mobile</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile fa" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.mobile}}
                            </span>
                        </div>
                    </div>
                    {%if 'mobile' in errors%}
                        <div class='alert alert-warning'>{{errors.mobile}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.password_1}}
                            </span>
                        </div>
                    </div>
                    {%if 'password_1' in errors%}
                        <div class='alert alert-warning'>{{errors.password_1}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.password_2}}
                            </span>
                        </div>
                    </div>
                    {%if 'password_2' in errors%}
                        <div class='alert alert-warning'>{{errors.password_2}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Gender</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <span class="form-control">
                                {{form.gender}}
                            </span>
                        </div>
                    </div>
                    {%if 'password_2' in errors%}
                        <div class='alert alert-warning'>{{errors.password_2}}</div>
                    {% endif %}
                </div>
                {%if 'general_error' in errors%}
                <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                <div>
                    <button class="btn btn-primary btn-lg btn-block signup-button" type="submit">
                        Sign Up
                    </button>
                </div>
          <div class="text-center">
            <span>
              You have an account?
            </span>

            <a href='{% url "login" %}'>
              Login
            </a><br/>
            <span class="txt1">
                        Forgot Password ?
                    </span>
                    <a href='{% url "reset_password" %}'>
                        Reset Password
                    </a><br/>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}